#sobre-home{
	background-color:#f9f9f9;
	padding-top:60px;

	ul{
		padding-left: 20px;

		li{
			color: #3b78c9;

			span{
				color:#858585;
			}
		}
	}
}

#sobre-descricao{
	padding:60px 0;

	ul{
		font-size: 18px;
		li{
			color: #3b78c9;

			span{
				color:#858585;
				font-size: 14px;
			}
		}
	}
}

#solucoes-home{
	padding:60px 0;
}

#vantagens-ecommerce{
	background-color:#0166bf;
   	padding:80px 0;

   	h2,p{
   		color:white
   	}
   	
    .saiba-mais{
		-webkit-border-radius: 6px; 
		-moz-border-radius: 6px; 
		border-radius: 6px;
		border:2px solid white;
		padding:10px 50px;  
		color:white;      	
    }
    .saiba-mais:hover{
    	background-color: #0079ce;
    }	
}

#vantagens-home{
    background-image: url("images/caixas.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
   	padding:80px 0;

   	h2,p{
   		color:white
   	}
   	
    .saiba-mais{
		-webkit-border-radius: 6px; 
		-moz-border-radius: 6px; 
		border-radius: 6px;
		border:2px solid white;
		padding:10px 50px;  
		color:white;      	
    }
    .saiba-mais:hover{
    	background-color: #0079ce;
    }
}

#orcamento{
	padding:60px 0;
}

#fale-conosco{
	background-color:#ececec;
	padding:25px 0;
}

@media (max-width: 991px) {  
	.col-md-6{
		margin-bottom: 10px;
	}

	#vantagens-home{
		background-image:none;

	   	h2,p{
	   		color:#858585;
	   	}	

	    .saiba-mais{
	    	background-color: #0079ce;
	    }	
	}

	.img-responsivo{
		width: 100%;
	}
}

@media (min-width: 992px) {  
  
}
