#sobre-home{
	padding:60px 0;

	h4{
		color:#514aa3;
		font-weight:bold;
		margin-bottom:20px;
		margin-top:30px;
	}

	h5{
		line-height:20px;
	}
}

#sobre{
	padding:60px 0;

	h4{
		color:#514aa3;
		font-weight:bold;
		margin-bottom:20px;
		margin-top:30px;
	}

	h5{
		line-height:20px;
	}
}

#solucoes-home{
	padding:60px 0;
	background-color:#514aa3;

	h2{
		color:#FFFFFF;
	}

	h5{
		color:#FFFFFF;
	}

	p{
		color:#FFFFFF;
		margin-top:30px;
	}

	a:hover{
		font-weight:bold;
	}
}

#solucoes-sobre{
	padding-top:150px;
	padding-bottom:60px;
	background-color:#f6f8fb;

	h2{
		color:#514aa3;
	}


	p{
		margin-top:30px;
	}

	a:hover{
		font-weight:bold;
	}
}




#vantagens-home{
   	padding:60px 0;

   	h4{
   		color:#514aa3;
   		font-weight:bold;
   	}

    .saiba-mais{
		-webkit-border-radius: 6px; 
		-moz-border-radius: 6px; 
		border-radius: 6px;
		border:2px solid white;
		padding:10px 50px;  
		color:white;      	
    }
    .saiba-mais:hover{
    	background-color: #b5934e;
    }

    .wrap span, .wrapb span{
	    position: relative;
	    display: inline-block;
	    width: 80px;
	    height: 80px;
	    color: #FFFFFF;
	    background-color: #FFFFFF;
	    font-size: 40px;
	    font-weight: 600;
	    line-height: 76px;
	    border: 2px solid #514aa3;
	    border-radius: 50%;
	    pointer-events: none;
	}

	.wrap span::before {
	    top: 76px;
	}

	.wrap span::after {
	    bottom: -152px;
	}

	.wrap span::after, .wrap span::before{
	    content: '';
	    position: absolute;
	    left: calc(50% - 1px);
	    width: 2px;
	    height: calc(115px - 17px);
	    background-color: #514aa3;
	}


}

#depoimento{
	background-color:#f6f8fb;
	padding:60px 0;

	.dep-conteudo{
		display:inline-block;
		background-color:#514aa3;
		color:#FFFFFF;
		padding:35px 25px;
		padding-bottom:0px;
		border-radius: 10px;
		line-height:22px;
		width:250px;

		.dep-foto{
			border-radius: 50%;
			border: 1px solid #514aa3;
			background-color:#FFFFFF;
		    width: 80px;
		    height: 80px;
		    color:black;
		    position:relative;
		    top:40px;
		    left:33%;
		}

		.imga{
			background-image: url("images/shodji.jpg");
			background-size: contain;
		}
		.imgb{
			background-image: url("images/shodji.jpg");
			background-size: contain;
		}
		.imgc{
			background-image: url("images/shodji.jpg");
			background-size: contain;
		}
	}
}

#orcamento{
	padding:60px 0;
}

#contato-pag{
	padding:60px 0;

	h1{
		margin-bottom:10px;
	}

	div.info-right{
		margin-top: 25px;
		background-color:#b1842c;
		color: white;
		padding:25px;
	}
}

@media (max-width: 991px) {  
	.col-md-6{
		margin-bottom: 10px;
	}

	.img-responsivo{
		width: 100%;
	}

	.wrap span::after, .wrap span::before{

	    background-color: transparent !important;
	}

}

@media (min-width: 992px) {  
  
}
